
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="./footer.component.css">
    </head>
    <footer>
        <div>
            <a href="https://github.com/antonioarjpi" class="social-icons" target="_blank"><i class="fa fa-github"></i></a>
            <a href="linkedin.com/in/antonioarjpi/" class="social-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="mailto:antonioarjpi@gmail.com?subject=Hello%20agin" class="social-icons" target="_blank"><i class="fa fa-envelope-square"></i></a>
            <a href="https://web.whatsapp.com/send?phone=5586994273871" class="social-icons" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
    </footer>
